.chat_form {
	border: solid 1px red;
	background-color: #fff;
	height: 100%;
	display: flex;
	// width: 100%;
	textarea {
		width: 90%;
		height: 100%;
		padding: 10px;
	}
	button {
		width: 10%;
	}
}
