.user_list {
	border: solid 1px red;
	div {
		display: flex;
		margin-bottom: 20px;
		img {
			border: solid 1px yellow;
			border-radius: 50%;
			width: 30px;
			height: 30px;
		}
		h5 {
			margin: 0 10px;
		}
	}
}
