.loginMain {
	background-color: rgba(240, 255, 255, 0.596);
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

@media only screen and (max-width: 1000px) {
	.loginMain {
		flex-direction: column;
	}
}
